<body>
    <h1>Kolej Profesional MARA Indera Mahkota</h1>
    <h2>COURSE</h2>
    <form action="" method="post">
    {%csrf_token %}
    Course Code <input type="text" name="code"><br><br>
    Description <input type="text" name="desc"><br><br>
    <input type="submit" value="SAVE"><br><br>

    </form>

    <br><br>
    {{message}}


    <table border="1">
        <th>Code</th><th>Description</th>

    {% for x in mymembers %}
    <tr>
    <td>{{ x.code }} </td>
    <td>{{ x.description }} </td>
    </tr>
    {% endfor %}
    </table>
    <a href="{% url 'index' %}"> BACK TO HOMEPAGE </a>